body{
    background: blue;
    font-family: 'Saira Stencil One', cursive;
}


img, .pro2 , .soft2,.pro1 ,.soft1 {
        width: auto;
        height: auto;
}
/* sm */
@media (min-width: 576px) {
    img {
        width: 220px;
        height: 500px;
    }
}
/* md */
@media (min-width: 768px) {
    img {
        width: 280x;
        height: 260px;
    }
}
/* lg */
@media (min-width: 992px) {
    img {
        width: 260px;
        height: 220px
    }
}

@media (min-width: 1200px) {
    img{
        width: 180px;
        height: 180px;

    }
}
.par1{
    margin-left: -10px;
    text-indent: 20px;
}

.par2{
    margin-top: 20px;
    text-indent: 20px;
}

.par3{
    text-indent: 20px;
}
.cont1{
    background-color: whitesmoke; 
}
.name{
    font-size: 30px;
    text-align: center;
    background: gray;
   
}
#id{
    background-color: whitesmoke;
}
.me, .cont{
    font-size: 25px;
    border-bottom: solid black 2px;
}

.container{
    background: pink;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
}

.wrapper{
    background: white;
    max-width:100%;
    margin: 20px auto;
    padding: 20px;
}

.wrapper2{
    margin: 40px 0px 0px 0px;
    background:black;
    color: white;
}

.footer{
    text-align: right;
}

.btn{
margin-top: 20px;
background: yellow;
color:purple;
cursor: pointer;
}

.btn:hover{
    background-color: blue;
}

.pro1 ,.soft1{
margin-left: 30%;
width: 200px;
height: 200px;
margin-bottom: 20px;
}

.pro2 , .soft2{
    margin-left: 30%;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}