body{
    background: blue;
}


img {
    width: 180px;
    height: 180px;
}

.name{
    font-size: 30px;
    text-align: center;
    background: gray;
    padding: 10px 0px;
}

.container{
    background: pink;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
}

.wrapper{
    background: white;
    max-width:100%;
    margin: 20px auto;
    padding: 20px;
}

.wrapper2{
    margin: 40px 0px 0px 0px;
    background:black;
    color: white;
}

.footer{
    text-align: right;
}